AI_API=AQ.Ab8RN6JDfDoVvAEref3C4cKQUTtnI3sLyMvnHqyS-3Y8obT81g
DB_CONNECTION=
BCBS_PROVIDER_API=https://www.bcbspma.com/proveedores/?handler=Buscar&areaId=0&tipoId&especialidadId=0&subEspecialidadId=0&ubicacionId&proveedor
ASSA_PROVIDER_API=https://apps.assanet.com/panama/redmedica3.0/Resultados.ashx?provincia=0&hospital=00&especialidad=0&nombreDoctor=&predec=C&procedimiento=N&_=1788400759504
PALIG_PROVIDER_API=https://x19mgfnrh7.execute-api.us-east-1.amazonaws.com/
##TODAVIA NO APLICADA AL 100 UNIVIVIR_PROVIDER_API=https://www.univivir.com.pa/RedUV/RedMedicaUV
## DEBO VER CUAL ES LA API PERO LA WEB DE MAPFRE_PROVIDER_API ES https://app1.mapfre.com.pa/panama/portal/redMedicos 

##PALIGMED ES NETWORK ID 1 Y PALIGMED ESSENTIAL ES NETWORK ID 2